.footer {
    align-items: center;
    background-color: #e6af2e;
    display: flex;
    height: 100px;
    width: 100%;
  }

.footer a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding-left: 30px;
}

.footer a:hover{
    text-decoration: underline;
}