.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    height: 80%;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu{
    margin-right: 30px;
}

.header__menu ul{
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0 0 0 -14px;
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li{
    margin: 10px 0;
}

.header__menu li a{
    color: white;
    text-decoration: none;
}


.header__menu li a:hover{
    text-decoration: underline;
}


.header__menu--profile{
    margin-right: 8px;   
    width: 84px;
    height: 40px;
    display: flex;
    align-items: center;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p{
    color: white;
    margin: 0;
}

.header__menu--profile p:hover{
    cursor: default;
}