.main{
    height: 200px;
    text-align: center;
}

.main__title{
    color: white;
    font-size: 25px;
}

.input{
    border: 2px solid white;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 70%;
    height: 50px;
    outline: none;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    padding: 0 20px;
}

::placeholder{
    color: white;
}